<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\main.css">
    <title>Harshith Kumar</title>
</head>

<body>
    <div class="top">
        <h1>Harshith Kumar</h1>
        <h3>Student at VIT, Vellore</h3>
        <img src="static\banner.jpg" alt="banner">
    </div>
    <div class="about">
        <h2>About ME</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi quo sed iusto consequuntur neque eligendi
            odit sit quasi dolorum, itaque temporibus, vel recusandae reprehenderit dolore consectetur? Ipsam,
            consequuntur qui?</p>
    </div>
    <div class="links">
        <ul>
            <li><a href="https://www.linkedin.com/in/harshithvk/"><img src="static/li (Custom).png" alt="linkedin"></a></li>
            <li><a href="https://github.com/harshith363"><img src="static/github.png" alt="github"></a></li>
        </ul>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <ul>
            <li><img src="static/aws cp (Custom).png" alt="AWS CP"></li>
            <li><img src="static/forage (Custom).png" alt="forage"></li>
            <li><img src="static/oracle foundation (Custom).png" alt="Oracle foundation"></li>
            <li><img src="static/Oracle multicoud (Custom).png" alt="Oracle multicoud"></li>
            <li><img src="static/cisco cybersec (Custom).png" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </div>
    <div class="certifications">
        <h2>certifications</h2>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</body>

</html>