<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\main.css">
    <title>Harshith Kumar</title>
</head>

<body>
    <div class="top">
        <h1>Harshith Kumar</h1>
        <h3>Student at VIT, Vellore</h3>
        <img src="static\banner.jpg" alt="banner">
    </div>
    <div class="about">
        <h2>About ME</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque modi quo sed iusto consequuntur neque eligendi
            odit sit quasi dolorum, itaque temporibus, vel recusandae reprehenderit dolore consectetur? Ipsam,
            consequuntur qui?</p>
    </div>
    <div class="links">
        <ul>
            <li><a href="https://www.linkedin.com/in/harshithvk/"><img src="static/li (Custom).png" alt="linkedin"></a>
            </li>
            <li><a href="https://github.com/harshith363"><img src="static/github.png" alt="github"></a></li>
        </ul>
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <ul>
            <li><img src="static\java (Custom).png" alt="java"></li>
            <li><img src="static\python (Custom).png" alt="python"></li>
            <li><img src="static\aws (Custom).png" alt="aws"></li>
            <li><img src="static\flask (Custom).png" alt="flask"></li>
        </ul>
    </div>
    <div class="certifications">
        <h2>certifications</h2>
        <ul>
            <li><a href="https://www.credly.com/badges/89cfe3af-45b0-4201-8c9c-71008fa1dc03/linked_in_profile"><img src="static/aws cp (Custom).png" alt="AWS CP"></a></li>
            <li><a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=A20C7B3740C2874B8B676ED8A880755B2DF11D9444F77B3C0A99C6FAC0A3B244"><img src="static/oracle foundation (Custom).png" alt="Oracle foundation"></a></li>
            <li><a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=416AB625DC83DB1B9A5AC148C6C9287C57305E0F2B9F5FAF48E9BAB175582C0D"><img src="static/Oracle multicoud (Custom).png" alt="Oracle multicoud"></a></li>
            <li><a href=""><img src="static/forage (Custom).png" alt="forage"></a></li>
            <li><a href="https://www.credly.com/badges/b674611c-4ba8-4d33-b9bc-5c4f47be6f68/linked_in_profile"><img src="static/cisco cybersec (Custom).png" alt="cisco"></a></li>
        </ul>
    </div>
</body>

</html>